:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
  color: #f2ce72;
  text-decoration: inherit;
}
a:hover {
  color: #f2ce72;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2b2a2a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: #f2ce72;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
  color: #f2ce72;
  }
  button {
    background-color: #f9f9f9;
  }
}

.file_uploader  {
  background-color: #202126;
  padding: 1rem 2.0rem ;
  border-radius: 1.25rem;
}

.file_uploader > header > h3 {
  color: #f2ce72;
  font-weight: 800;
}

.file_uploader > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.file_uploader-file_browser {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.10rem;
  border: 1px dashed white;
  padding: 5rem 10rem 2rem 10rem;
  border-radius: 1.5rem;
}

.file_uploader > .metadata {
  display: flex;
  justify-content: space-between;
}

.file_uploader-file_previewer {
  border: 2px solid white;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0.5rem;
  gap: 10.9rem;
  margin-top: 0.75rem;
}

.file_details_grid  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.75rem;
}

.file_details_grid > div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.file_details_grid > div > p{
  font-weight: 800;
  font-size: 1.1rem;
  color: #f2ce72;
  margin: 0;
}
.file_details_grid > div > div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.file_details_grid > div > div > p{
  margin: 0;
  font-weight: 600;
}

.file_uploader-operations {
  display: flex;
  gap: 0.75rem;
}

.file_uploader-btns {
  margin-top: 1.8rem;
  justify-self: end;
  display: flex;
  gap: 0.5rem;
}

.metadata > p {
  font-weight: 100;
  font-size: 0.85rem;
}